<div class="divPage">
  <h1>Gracias por querer contactarme <br> ¿Con que puedo ayudarte?</h1>

  <form class="formGroup" action="https://formspree.io/f/mqkroqrk"
  method="POST">
    <div class="inputFloat justify-content-center">
      <p-floatLabel>
        <input id="email" type="email" name="email" pInputText [(ngModel)]="contact.email" required />
        <label for="email">Correo electrónico</label>
      </p-floatLabel>
    </div>
    <div class="inputFloat justify-content-center">
      <p-floatLabel>
        <textarea rows="5" cols="23" id="description" name="description" pInputTextarea [(ngModel)]="contact.description" required></textarea>
        <label for="description">Descripción</label>
      </p-floatLabel>
    </div>
    <p-button  type="submit" label="Enviar solicitud" [rounded]="true"></p-button>
  </form>
</div>
