
<div class="divOfCards">
  @for (card of developerCards; track developerCards){
    <div class="card">
      <div class="card-body">
        <div class="iconCard">
          <i class="{{card.icon}}"></i>
        </div>
        <h5 class="card-title">{{card.title}}</h5>
        <p class="card-text">{{card.description}}</p>
        <div class="span">Conocimientos Básicos</div>
        <div class="skills">
          @for (skill of card.basicSkills; track skill.name) {
            <div class="displayrow center">
              <i class="{{skill.icon}} iconSkill"></i>
              <p>{{skill.name}}</p>
            </div>
          }
        </div>
        <div class="span">Frameworks:</div>
        <div class="skills">
          @for (skill of card.generalSkills; track skill.name) {
            <div class="displayrow center">
              <i class="{{skill.icon}} iconSkill"></i>
              <p>{{skill.name}}</p>
            </div>
          }
        </div>

      </div>
    </div>

  }
    
    
    </div>