
.card-body{
    margin-top: 1rem !important;
    height: 500px !important;
}

.skills{
    justify-self: start;
    justify-content: start;
    p{
        margin: 0.5rem;
        color: var(--color-primary);
    }
}
.center{
    justify-content: center !important;
}
.iconSkill{
    font-size: 20px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: var(--color-primary);
}
.black{
    color: black !important;
    font-size: 15px;
    margin-bottom: 0.5rem;
    font-weight: 600;
}