.home{
    margin-top: 2rem;
}
h1{
    font-size: 35px;
}
p{
    font-size: 18px;
}

.imgAvatar{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 5px solid var(--color-secondary);
}
.circleImg{
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 10px solid var(--color-primary);
}
.circleImg2{
    position: relative;
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 100%;
    border: 10px solid var(--color-background);
    margin-bottom: 5rem;

}
.barra{
    background-color: var(--color-primary);
    position: absolute;
    width: 100vh;
    top: 108px;
    height: 13vh;
    right: 0;
    left: -290px;
    z-index: -10;
}
.DivFondo{
    background-color: var(--color-primary);
    padding: 8rem 4rem;
    h1{
        color: white;
        margin-bottom: 2rem;
    }
    p{
        color: white;
    }
}

.divOfCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -80px;
}
.card-body{
    margin-top: 1rem !important;
    height: 500px !important;
}

.skills{
    justify-self: start;
    justify-content: start;
    p{
        margin: 0.5rem;
        color: var(--color-primary);
    }
}
.center{
    justify-content: center !important;
}
.iconSkill{
    font-size: 20px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: var(--color-primary);
}
.black{
    color: black !important;
    font-size: 15px;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.cardWork {
    position: relative;
    background-color: var(--color-background);
    color: white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem 2rem;
    overflow: hidden;
    align-items: start;
  }
  
  .imgWork {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
  }
  
  .cardWork:hover .imgWork {
    opacity: 0.8;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .cardWork:hover .overlay {
    opacity: 1;
  }
  
  .text {
    text-align: center;
    color: white;
  }
  
  .text h2 {
    margin: 0;
    padding: 0.5rem 0;
  }
  
  .text p {
    margin: 0;
    padding: 0.5rem 0;
  }
  
  .text button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
  }
  
  .text button:hover {
    background-color: var(--color-primary-dark);
  }
  