<div class="home">
  <div class="marginComplete" style="margin-top: 3rem;">
    <h1 class="animate__animated animate__fadeInDown">{{ texts['title'] }}</h1>
    <p  class="animate__animated animate__fadeInDown">{{texts['description']}}</p>
  </div>
  <div class="centerDiv">
    <div class="circleImg2">
      <div class="circleImg">
        <img src="/assets/images/unnamed2.png" class="imgAvatar">
      </div>
    </div>
  </div>
  
  <div class="DivFondo">
    <div class="marginComplete">
      <h1>Hola, soy Bryan España.</h1>
      <p>Desde que inicie con mi pasión por la programación hace más de 2 años, he trabajado 1 año y 6 meses en Infile S.A., he trabajado en varios proyectos freelance y proyectos personales de hackathons y he colaborado con personas talentosas para crear productos digitales para uso empresarial y de consumo. Trabajo constantemente para mejorar mis habilidades, me gusta mucho el ambito de aplicaciones moviles y web y soy alguien bastante dedicado en lo que hace.</p>
    </div>
  </div>

  <app-developerCards class="animate-on-scroll"></app-developerCards>
  <app-CurriculumPage class="animate-on-scroll"></app-CurriculumPage>
  <app-developerProyects class="animate-on-scroll"></app-developerProyects>
    
</div>