.imgLogo{
    width: 8%;
    height: 8%;
}
.displayrow{
    gap: 1rem;
}
.p-buttonset {
    background: var(--color-primary) !important;
}

.iconTab{
    font-size: 40px;
    color: var(--color-primary);
}
.iconTab:hover{
    color: var(--color-secondary);
    cursor: pointer;
}