<div class="displayrow marginComplete">
  <img src="/assets/logo.png" class="imgLogo" (click)="GoToMenuPage()">
  <div class="displayrow">
    <label class="switch">
      <input type="checkbox" class="input__check" [(ngModel)]="isDarkMode" (change)="toggleDarkMode()">
      <span class="slider"></span>
    </label>
    
    <!--<p-selectButton 
    [options]="stateOptions" 
    optionLabel="label" 
    optionValue="value" 
    (onChange)="onLanguageChange()"/>-->
    <i class="fa-brands fa-github iconTab" (click)="GoGithub()"></i>

  </div>

</div>