.pageProyects{
    margin: 2rem 16%;
}
.cardWork {
    position: relative;
    background-color: var(--color-background);
    color: white;
    border-radius: 10px;
    width: 450px;
    height: 250px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem 2rem;
    overflow: hidden;
    align-items: start;
  }
  
  .imgWork {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
  }
  
  .cardWork:hover .imgWork {
    opacity: 0.8;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .cardWork:hover .overlay {
    opacity: 1;
  }
  
  .text {
    text-align: center;
    color: white;
  }
  
  .text h2 {
    margin: 0;
    padding: 0.5rem 0;
  }
  
  .text p {
    margin: 0;
    padding: 0.5rem 0;
  }
  
  .text button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
  }
  
  .text button:hover {
    background-color: var(--color-primary-dark);
  }
  