/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



:root {
    --color-primary: #222831 !important;
    --color-primary-dark: #31363F;
    --color-secondary: #76ABAE;
    --color-secondary-dark: #002434;
    --color-tertiary: #FFFFFF;
    --color-tertiary-dark: #E9EAEB;
    --color-background: white;
  }
/* Order */
@layer reset, primeng;

body {
    margin: 0;
    padding: 0;
}

.displayrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.marginComplete{
    margin: 2rem 15%;
}

button{
    background: var(--color-primary) !important;
    border: var(--color-primary) !important;
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p-button-group .p-button:last-of-type:not(:only-of-type), .p-button-group p-button:last-of-type:not(:only-of-type) .p-button, .p-buttonset .p-button:last-of-type:not(:only-of-type), .p-buttonset p-button:last-of-type:not(:only-of-type) .p-button {
 
}

.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
    background: var(--color-secondary);
    border: var(--color-secondary);
    color: white;
}

.p-selectbutton .p-button.p-highlight {
    background: var(--color-primary);
    border: var(--color-primary);
    color: white;
}
.card{
    background-color: var(--color-background);
    color: white;
    border: 10px solid var(--color-primary);
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 1rem 2rem;
    align-items: start;
    .span{
        color: var(--color-primary);
        font-weight: 600;
        margin: 1rem 0;
    }
    p{
        margin: 0;
        padding: 0;
    }
}
.card-title{
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: var(--color-primary);
}
.card-text{
    font-size: 14px !important;
    margin: 2rem 0 !important;
    padding: 0;
    color: var(--color-primary);
    
}


.iconCard{
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
}


.divOfCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -80px;
}

.divOfCards2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}